.scrollerWrapper {
  position: relative;
  width: 100%;
}

.moduleItem {
  position: relative;
  width: 100%;
  /* We add a minimum height so small sections fill the screen and look like proper cards sliding */
  min-height: 100vh;
  /* background-color should ideally be set in the modules themselves, but we can set a base */
  background-color: rgba(0, 0, 0, 0.4); 
  /* z-index is set inline by the component */
}

